.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.course-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .course-card {
    flex: 1 1 100%; 
  }
}

  
  .course-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
  }
  
  .course-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .course-info h3 {
    margin: 0;
  }
  
  .details-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    align-self: flex-end;
  }
  